@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Josefin+Sans&family=Noto+Serif&family=Poppins&display=swap');
body {
    background-image: url('../img/bg.jpg'), url('../img/dirt.jpg');
    background-repeat: no-repeat;
    background-size: contain, 100% 100%, 100% 100%;
    background-position: center top, center center;
    background-attachment: scroll, fixed;

    background-color: rgb(156, 157, 171);
    padding:0;
    margin:0;
}

.coverbook {
    max-width: 100%;
    height: auto;
}
.maincontainer{
    background-color: rgba(32, 32, 32, 0.9);
    height:100%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid rgba(0, 0, 0, 0.3);
    border-radius: 9px;
    margin-top:40px;
    border-radius: 5px;;
}
.imgclick * {
    opacity:0.7;
    transition:all 0.4s ease;
}
.imgclick:hover *{
    opacity:1;
    border-radius:6px;
}
.topsection {
    text-align: center;
    font-family: 'Noto Serif', serif;
    color:white;
    font-size: 1.4rem;
}
.avatarimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    height:120px;
    width:120px;
    border:4px solid rgba(77, 96, 221, 0.6);
}

.containertop{
    background: rgba(42, 54, 40, 0.4);
}

h1 {
    font-size:52px;
    color:rgb(213, 213, 213);
    text-align: center;   
}
.nav-links {
    background-color: rgba(169, 169, 169, 0.1);
}
.nav-links a {
    color:white;
    font-family: 'Fira Sans', sans-serif;
    font-size:18px;
    text-decoration-line: none;
}
.nav-links .active {
    color:rgb(125, 184, 247);
    font-weight:bold;
}
.nav-links li{
    list-style-type:none;
    padding-left:10px;

}
.nav-links ul {
    display:inline-flex;
    margin-right:70%;

}
.separatorli{
    color:rgb(193, 193, 193);
    font-size:16px;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.quotetext {
    color:white;
    font-family: 'Josefin Sans', sans-serif;
    margin-left:20%;
    margin-right:20%;
    text-align:start;
    font-size:25px;
    font-weight:lighter;
    font-style:italic;
}
.earthspin{
    border-radius: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    height: auto;
    border:5px solid rgba(71, 69, 98, 0.4);
}

section {
    display:grid;
    place-items:center;
    align-content:center;
    min-height:100vh;
}

.hidden {
    opacity:0;
    filter:blur(5px);
    transform:translateX(-100%);
    transition:all 1s;
}
.show {
    opacity:1;
    filter:blur(0);
    transform:translateX(0);

}
@media(prefers-reduced-motion){
    .hidden{
        transition:none;
    }
}
.upbutton {
    position:fixed;
    bottom:20px;
    left:30px;
    z-index:99;
    margin-left:85%;
    margin-right:95%;
}
.upbutton button {
    height:auto;
    width:auto;
    background-color:rgba(77, 96, 221, 0.1);
    border:4px solid rgb(88, 87, 87);
    border-radius: 20%;
    transition:all 0.4s ease;
    font-size:50px;
    opacity:0.4;
    transition:all 0.5s ease-in-out;
}


.upbutton button:hover {
    border:4px solid rgb(190, 183, 107);
    cursor:pointer;
    background-color:rgba(219, 99, 99, 0.8);
    opacity:1;
}


@media screen and (max-width:1270px){
    .coverbook{
        width:600px;
        height:400px;
    }
    .decoimage img {
        height:200px;
        width:150px;
    }
}
@media screen and (max-width:1000px){
    .coverbook{
        width:420px;
        height:350px;
    }

}
@media screen and (max-width:800px){
    .coverbook{
        width:400px;
        height:350px;
    }

    .maincontainer {
        width:80%;
    }
    .avatarimg {
        width: 80%;
        height: auto;
    }
    .nav-links ul {
        margin-right:50%;
    }
    .btnbuy img{
        height:200px;
        width:200px;
    }
    .containercomment{
        font-size:12px;
        width:300px;

    }
}
@media screen and (max-width:768px){
    .coverbook{
        width: 80%;

    }
    .upbutton{
        margin-left: 80%;
        margin-right: 80%;    }
    .upbutton button{
        font-size:35px;
    }
    .maincontainer {
        width: 90%;
        max-width: 100%;
        }
    .avatarimg {
        height:100px;
        width:100px;
    }
    .nav-links ul {
        margin-right:30%;
    }
    .amazonbuy {
        height:100px;
        width:80px;
    }
    .quotetext{
        margin-left:5%;
        text-align: left;
        margin-right:25%;
    }
    h3{
        font-size:14px;
    }

}
img {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width:600px){
    .decoimage img {
        height: 150px;
        width: 100px;
    }
}
a:hover{
    cursor: pointer;
}
section h3 {
    color:white;
    font-family: 'Poppins', sans-serif;
}
section h1 {
    font-family: 'Poppins', sans-serif;
    font-size:32px;
}

.decoimage {
    float: left;
    width: 33.33%;
    padding: 5px;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.row::after {
    content: "";
    clear: both;
    display: table;
  }

.btnbuy{
    float: left;
    width: 33.33%;
    padding: 25px;
}
.emailbtn{
    color:white;
    transition: all ease 0.3s;
}
.emailbtn:hover{
    cursor: pointer;
    color:rgb(157, 197, 224);
    font-size:20px;
}

.publication ul li{
    text-decoration: none;
}
.publication ul li::before{
    content: "\2022";
    color: rgb(147, 150, 241);
    font-weight: bold;
    display: inline-block; 
    width: 1rem;
    font-size:32px;
    margin-left: -1em;
    
}
.publication li a:hover{

    color:rgb(254, 119, 0);
    font-size:28px;
}
.publication li a {
    color:white;
    font-size: 27px;
    text-decoration: none;
    transition:all 0.3s ease;
}

section ul li {
    text-decoration-line:none;
}

footer {
    color:white;
    font-size:36px;
    background-image: url('../img/dirt2.png');
    background-repeat: no-repeat;
    background-size:100% auto;
}
.footerhr {
    border-color:white;
}
.socials{
    float:left;
    padding-left:10px;
}
.socials img{
    padding-left:15px;
    padding-top:10px;
    height:30px;
    opacity:0.5;
    transition:all 0.2s ease-in;
}

.socials img:hover{
    opacity:1;
}
.containercomment{
    background-color:rgba(255, 255, 255, 0.2);
    
    padding-left:1%;
    margin-top:1%;
    margin-bottom:5%;
    margin-left:10px;
    margin-right:10px;
    padding-top:1%;
    padding-bottom:1%;
    padding-right:1%;
    border-radius:10px;
}

h4 {
    color:white;
    font-family: 'Poppins', sans-serif;

}
#cpymsg {
    background-color: rgba(35, 143, 35, 0.8);
    height: 50px;
    width: 150px;
    padding-top: 25px;
    margin-left:10px;
    margin-bottom:50px;
    font-size: 20px;
    border-radius: 5px;
    font-family: 'Josefin Sans', sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    opacity:0;
    transform: translateX(-100%);
    transition: all 0.5s ease-in-out;
    z-index: 9999;
  }
  #cpymsg.show {
    transform: translateX(0%);
    
  }

